body {
    font-family: '"Palatino Linotype", "Book Antiqua", Palatino, serif';
    background-color: #666666;
}

h1 {
    font-family: '"Palatino Linotype", "Book Antiqua", Palatino, serif';
    color: whitesmoke;
}

li {
    list-style-type: none;
    height: 55px;
    border: 2px solid grey;
    margin: 20px 0 0 0;
    padding: 5px 0 0 10px;
    background-color:magenta;
     
}

span {
    white-space: nowrap;
}

span:focus {
    outline-color: #0065FF;
}
.button-group {
    float: right;
}